<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing">
      <i class="fa-regular fa-compass"></i>
    </a>
    
    <div class="navbar-nav">
      <a class="nav-link" href="/listing">Explore</a>
    </div> 

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <div class="navbar-nav ms-auto">
        <form action="/listing/search" method="get" class="d-flex" role="search">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search Destinations"
            name="query"
            aria-label="Search"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass search-icon"></i
            >&nbsp;&nbsp;Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Airbnb your home</a>
        <% if(typeof currUser === 'undefined'|| !currUser) { %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>LogIn</b></a>
        <% } else { %>
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
