body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
   }

.f-info{
    height: 8rem;
    display: flex;
    background-color: #f2f1f1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* cards */
.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #f2f1f1;
}

/* new page */
.add-btn {
    background-color: #fe424d;
    border: none;
}

/* edit page */
.edit-btn {
    background-color: #fe424d;
    border: none;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

/* map */
#map {
    height: 300px;
    width: 100vh;
}