<% layout('/layouts/boilerplate') %>



<!-- Filters and their icons -->

<div class="filter-bar">
  <div class="filter-scroll">
    <div class="filter"><i class="fa-solid fa-fire"></i><p>Trending</p></div>
    <div class="filter"><i class="fa-solid fa-bed"></i><p>Rooms</p></div>
    <div class="filter"><i class="fa-solid fa-city"></i><p>Iconic Cities</p></div>
    <div class="filter"><i class="fa-solid fa-mountain"></i><p>Mountains</p></div>
    <div class="filter"><i class="fa-solid fa-chess-rook"></i><p>Castles</p></div>
    <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>Pools</p></div>
    <div class="filter"><i class="fa-solid fa-campground"></i><p>Camping</p></div>
    <div class="filter"><i class="fa-solid fa-cow"></i><p>Farms</p></div>
    <div class="filter"><i class="fa-solid fa-snowflake"></i><p>Arctic</p></div>
  </div>

  <!-- Tax toggle (always visible on right) -->
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input tax-switch" type="checkbox" id="flexSwitchCheckDefault" />
      <label class="form-check-label" for="flexSwitchCheckDefault">Include Taxes</label>
    </div>
  </div>
</div>


<!-- listings -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for (let listing of allListing){ %>
  <a href="/listing/<%= listing.id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="Listing Image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %> </b> <br />
           &#8377 <%= listing.price %> / night
          <i class="tax-info">&nbsp; +18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfoArray = document.getElementsByClassName("tax-info");
    for (taxInfo of taxInfoArray) {
      if (taxInfo.style.display != "inline") {
        taxInfo.style.display = "inline";
      } else {
        taxInfo.style.display = "none";
      }
    }
  });
</script>
